---
import EcommLayout from '@/layouts/EcommLayout.astro'
import Main from '@/components/main.astro'
import { medusa } from '@/scripts/medusa'
import Title from '@/components/title.astro'
import Button from '@/components/Button.astro'

const { cartId } = Astro.params

if (!cartId) {
  return Astro.redirect('/shop')
}

const { cart } = await medusa.carts.retrieve(cartId)

const title = 'Cart'
---

<EcommLayout title={title}>
  <Main>
    <section
      class='border-white border-2 my-16 h-auto max-w-[1000px] w-full p-16 bg-opacity-90 bg-black items-center justify-center flex flex-col gap-4'
    >
      <Title>{title}</Title>
      <table class='w-full font-khmer text-xl'>
        <tr class='h-16'>
          <th class='text-start font-thin font-khmer'>Image</th>
          <th class='text-start font-thin font-khmer'>Product</th>
          <th class='text-start font-thin font-khmer'>Quantity</th>
          <th class='text-start font-thin font-khmer'>Unit Price</th>
          <th class='text-start font-thin font-khmer'>Total</th>
        </tr>
        {
          cart.items.map((item) => {
            const unitPrice = item.unit_price / 100
            const total = item.total ? item.total / 100 : 0
            return (
              <tr class='border-t-2 border-white h-24'>
                <td>
                  <img
                    src={item.thumbnail}
                    alt={item.title}
                    class='w-20 h-20'
                  />
                </td>
                <td>
                  <span>{item.title}</span>
                </td>
                <td>
                  <span>{item.quantity}</span>
                </td>
                <td>
                  <span>{unitPrice}€</span>
                </td>
                <td>
                  <span>{total}€</span>
                </td>
              </tr>
            )
          })
        }
        <tr class='h-24 border-t-2 border-white'>
          <td colspan='4' class='text-end'>
            <span class='font-khmer text-xl pr-8'>Subtotal:</span>
          </td>
          <td>
            <span>{cart.subtotal ? cart.subtotal / 100 : cart.subtotal}€</span>
          </td>
        </tr>
      </table>
      <Button>Proceed to checkout</Button>
    </section>
  </Main>
</EcommLayout>
