---
import { medusa } from '../../../scripts/medusa'
import EcommLayout from '../../../layouts/EcommLayout.astro'
import Main from '../../../components/main.astro'
import Title from '../../../components/title.astro'
import Badge from '../../../components/badge.astro'
import RadioButton from '../../../components/RadioButton.astro'

const { handle } = Astro.params

if (!handle) {
  throw new Error('Product is required')
}

const productResponse = await medusa.products.list({
  handle: handle
})

if (!productResponse) {
  throw new Error('productResponse is ' + productResponse)
}

const product = productResponse.products[0]

if (!product) {
  throw new Error('Product not found')
}

const title = product.title || handle

const { variants } = product

if (Astro.request.method === 'POST') {
  try {
    const data = await Astro.request.formData()
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<EcommLayout title={title}>
  <Main>
    <section
      class='border-white border-2 my-16 h-auto max-w-[1000px] w-full p-16 grid grid-cols-2 gap-4 bg-opacity-90 bg-black'
    >
      <div class='col-auto'>
        <div class='border-white border-2'>
          <img src={product.thumbnail} alt='' class='h-auto w-full' />
        </div>
      </div>
      <form method='POST' class='col-auto flex flex-col gap-8 items-start'>
        <div class='flex flex-col gap-2 items-start'>
          <Badge>In Stock</Badge>
          <Title>{title}</Title>
        </div>
        <p>{product.description}</p>
        <div class='flex flex-col gap-4 items-start relative'>
          <Badge>Option</Badge>
          <div class='flex w-full flex-row flex-wrap h-auto gap-2 gap-y-6'>
            {
              variants
                ? variants.map((variant) => {
                    const { id, title } = variant
                    if (!id || !title) {
                      throw new Error(
                        'variant.id or variant.title is undefined'
                      )
                    }

                    return (
                      <RadioButton name='variant' value={id} title={title} />
                    )
                  })
                : null
            }
          </div>
        </div>
        <div class='flex flex-col gap-2 items-start'>
          <Badge>quantity</Badge>
          <!-- TODO: Limit max value based on inventory of selected variation -->
          <!-- https://docs.astro.build/en/core-concepts/sharing-state/ Maybe this for cart handling? -->
          <input
            class='border-2 border-white w-16 flex items-center px-2 font-khmer text-2xl text-black'
            type='number'
            name='quantity'
            id='quantity'
            min='1'
            max='10'
            value='1'
          />
        </div>
        <button class='px-4 py-2 font-khmer border-2 border-white text-2xl'
          >Add to cart</button
        >
      </form>
    </section>
  </Main>
</EcommLayout>
