---
import Title from './title.astro'

type Props = {
  handle: string
  title: string
  price: number
  image?: string | null
}

const { image, title, price, handle } = Astro.props
---

<article
  class='text-white border-2 border-white w-72 h-auto relative bg-black bg-opacity-90 px-4 py-6'
>
  <img src={image} alt={title} class='flex-1 h-[250px] w-auto' />
  <div class='p-4 flex flex-col flex-1 h-1/2 items-center gap-4 font-khmer'>
    <Title heading='h2' fontSize='text-xl'>{title}</Title>
    <span class='px-4 py-2 bg-white text-black w-auto'
      >{price.toFixed(2)} <b>€</b></span
    >
    <a
      class='px-4 py-2 border-2 border-white w-auto text-center hover:bg-white hover:text-black text-lg'
      href={`/shop/products/${handle}`}
      class=''>View Product</a
    >
  </div>
</article>
