---
interface Props {
	id: string
	src: string
	alt: string
	colorClass?: string
	large?: boolean
}

const { id, src, alt, colorClass = 'ew-orange', large = false } = Astro.props
---

<a
	href={`/photos/${id}`}
	class:list={[
		'relative overflow-hidden group cursor-pointer aspect-square',
		large ? 'md:col-span-2 md:row-span-2' : ''
	]}
>
	<img
		src={src}
		alt={alt}
		class='w-full h-full object-cover group-hover:scale-110 transition-transform duration-500'
		transition:name={`photo-${id}`}
	/>
	<div class:list={[
		'absolute inset-0 group-hover:bg-opacity-20 bg-opacity-0 transition-colors',
		`bg-${colorClass}`
	]}></div>
</a>
